// .comment-form {
//     position: absolute;
//     width: 40%;
//     height: 300px;
//     top: 50%;
//     left: 70%;
//     transform: translate(-50%, -50%);
//     background-color: gray;
//     border-radius: 5px;
//     border-color: yellow;
// }
//
// .comment-input {
//   border-color: black;
// }

.comment-like {
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: 'Barlow Semi Condensed';
  position: absolute;
  width: 40%;
  height: 500px;
  top: 45%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: white;
  // border: 1px solid gray;
  border-radius: 5px;

  h2, h3 {
    text-align: center;
    margin: 3px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    border-bottom: 1px solid gray;
    // margin-bottom: 7px;
    padding: 5px;
  }

}

.comment-form-container {
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: 'Barlow Semi Condensed';
  position: absolute;
  width: 95%;
  height: 400px;
  top: 70%;
  left: 46%;
  transform: translate(-50%, -50%);
  background-color: white;
  // border: 1px solid gray;
  border-radius: 5px;

}

.comments-scroll {
  overflow: auto;
}

.comment-form {
  padding: 7px;
  display: flex;
  flex-direction: column;

  textarea {
    margin-top: 10px;
    border: 1px solid gray;
    font-size: 15px;
    width: 200px;
    height: 50px
  }

  textarea::-webkit-input-placeholder {
    color: #B9B9B9;
    text-align: left;
  }

  button {
    background-color: gray;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    width: 85px;
  }

  button:hover {
    background-color: #a3a4a3;
  }
}

.comment-div {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.comment-owner-body {
  display: flex;
  flex-direction: row;

  a {
    margin-right: 6px;
    font-weight: bold;
    color: black;
  }
  a:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: left;

  span {
    font-size: 12px;
    margin-bottom: 5px;

    p {
      left: 100%;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}

.num-likes {
  width: 20%;
  margin-left: 3px;
}
.like-button {
  font-size: 18px;
  width: 4%;
  margin-top: 10px;
  margin-left: 5px;
  left: 10%;
  // color: black;
  // background-color: gray;
  // color: white;
}

.comment-username {
  margin-left: 7px;
  color: black;
}

.comment-username:hover {
  opacity: 0.6;
}
