// .comment-form {
//     position: absolute;
//     width: 40%;
//     height: 300px;
//     top: 50%;
//     left: 70%;
//     transform: translate(-50%, -50%);
//     background-color: gray;
//     border-radius: 5px;
//     border-color: yellow;
// }
//
// .comment-input {
//   border-color: black;
// }

.comment-form-container {
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: 'Barlow Semi Condensed';
  position: absolute;
  width: 45%;
  height: 400px;
  top: 34%;
  left: 74%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
}

.comment-form {
  padding: 10px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 25px;
    border: 1px solid gray;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
    width: 100px;
  }

  input::-webkit-input-placeholder {
    color: #B9B9B9;
    text-align: center;
  }

  input[type="submit"] {
    background-color: gray;
    font-size: 15px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: white;
    width: 85px;
  }

  input[type="submit"]:hover {
    background-color: #a3a4a3;
  }
}

.comment-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-owner-body {
  display: flex;
  flex-direction: row;

  a {
    margin-right: 6px;
    font-weight: bold;
    color: black;
  }
  a:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: left;

  span {
    font-size: 12px;
    margin-bottom: 5px;

    p {
      left: 100%;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}
