// .comment-form {
//     position: absolute;
//     width: 40%;
//     height: 300px;
//     top: 50%;
//     left: 70%;
//     transform: translate(-50%, -50%);
//     background-color: gray;
//     border-radius: 5px;
//     border-color: yellow;
// }
//
// .comment-input {
//   border-color: black;
// }

.comment-like {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  width: 380px;
  padding-top: 10px;

  h2, h3 {
    text-align: center;
    margin: 3px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    border-bottom: 1px solid gray;
    // margin-bottom: 7px;
    padding: 5px;
  }

}

.comment-form-container {
  display: flex;
  flex-direction: column;
  color: gray;
  font-family: 'Barlow Semi Condensed';
  // position: absolute;
  // width: 91%;
  // height: 430px;
  // top: 70%;
  // left: 46%;
  // -webkit-transform: translate(-50%, -50%);
  background-color: white;
  // border: 1px solid gray;
  border-radius: 5px;

}

.comments-scroll {
  overflow: auto;
  width: 380px;
  max-height: 250px;
  // border-bottom: 1px solid gray;
}

.comment-div {
  display: flex;
  flex-direction: column;
  align-items: left;
  // position: fixed;
  top: 200px;
  // padding-top: 15px;
  width: 100%;

  input[type="submit"] {
    background-color: gray;
    font-size: 15px;
    // margin-top: 15px;
    border-radius: 5px;
    padding: 6px 6px 6px 6px;
    color: white;
  }

  input[type="text"] {
    background-color: white;
    font-size: 15px;
    // border: 1px solid gray;
    padding: 6px 6px 6px 6px;
    width: 350px;
    border-top: .1px solid lightgray;
    // border-bottom: .5px solid gray;
  }

  input[type="submit"]:hover {
    background-color: #a3a4a3;
  }
}

.comment-owner-body {
  display: flex;
  flex-direction: row;

  a {
    margin-right: 6px;
    font-weight: bold;
    color: black;
  }
  a:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: left;

  span {
    font-size: 12px;
    margin-bottom: 5px;

    p {
      left: 100%;
      text-align: left;
      margin-bottom: 5px;
    }
  }
}

.num-likes {
  width: 20%;
  margin-left: 3px;
}
.like-button {
  font-size: 18px;
  width: 4%;
  margin-top: 10px;
  margin-left: 5px;
  left: 10%;
  // color: black;
  // background-color: gray;
  // color: white;
}

.comment-username {
  margin-left: 7px;
  color: black;
}

.comment-username:hover {
  opacity: 0.6;
}

.delete-comment {
  font-size: 15px;
}

.delete-comment:hover {
  opacity: 0.6;
}

.comment-body-and-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 290px;

  span {
    margin-right: 5px;
  }
}
