.cssload-wrap {
	position: absolute;
	margin: 0 auto 0;
	left: 50%;
	margin-left: -134px;
	transform: rotateX(75deg);
}
.cssload-circle {
	position: absolute;
	float: left;
	border: 1px solid white;
	animation: bounce 0.895s infinite ease-in-out alternate;
		-o-animation: bounce 0.895s infinite ease-in-out alternate;
		-ms-animation: bounce 0.895s infinite ease-in-out alternate;
		-webkit-animation: bounce 0.895s infinite ease-in-out alternate;
		-moz-animation: bounce 0.895s infinite ease-in-out alternate;
	border-radius: 100%;
	background: transparent;
	top: -45px;
	left: -45px;
}
.cssload-circle:nth-child(1) {
	margin: 0 177px;
	width: 6px;
	height: 6px;
	animation-delay: 60ms;
		-o-animation-delay: 60ms;
		-ms-animation-delay: 60ms;
		-webkit-animation-delay: 60ms;
		-moz-animation-delay: 60ms;
	z-index: -1;
	border: 1px solid rgba(255,43,0,0);
}
.cssload-circle:nth-child(2) {
	margin: 0 174px;
	width: 12px;
	height: 12px;
	animation-delay: 120ms;
		-o-animation-delay: 120ms;
		-ms-animation-delay: 120ms;
		-webkit-animation-delay: 120ms;
		-moz-animation-delay: 120ms;
	z-index: -2;
	border: 1px solid rgba(255, 85, 0, 0.7);
}
.cssload-circle:nth-child(3) {
	margin: 0 171px;
	width: 18px;
	height: 18px;
	animation-delay: 180ms;
		-o-animation-delay: 180ms;
		-ms-animation-delay: 180ms;
		-webkit-animation-delay: 180ms;
		-moz-animation-delay: 180ms;
	z-index: -3;
	border: 1px solid rgba(255,85,0,0);
}
.cssload-circle:nth-child(4) {
	margin: 0 168px;
	width: 24px;
	height: 24px;
	animation-delay: 240ms;
		-o-animation-delay: 240ms;
		-ms-animation-delay: 240ms;
		-webkit-animation-delay: 240ms;
		-moz-animation-delay: 240ms;
	z-index: -4;
	border: 1px solid rgba(255, 170, 0, 0.7);
}
.cssload-circle:nth-child(5) {
	margin: 0 165px;
	width: 30px;
	height: 30px;
	animation-delay: 300ms;
		-o-animation-delay: 300ms;
		-ms-animation-delay: 300ms;
		-webkit-animation-delay: 300ms;
		-moz-animation-delay: 300ms;
	z-index: -5;
	border: 1px solid rgba(255,128,0,0.04);
}
.cssload-circle:nth-child(6) {
	margin: 0 162px;
	width: 36px;
	height: 36px;
	animation-delay: 360ms;
		-o-animation-delay: 360ms;
		-ms-animation-delay: 360ms;
		-webkit-animation-delay: 360ms;
		-moz-animation-delay: 360ms;
	z-index: -6;
	border: 1px solid rgba(255,170,0,0);
}
.cssload-circle:nth-child(7) {
	margin: 0 159px;
	width: 42px;
	height: 42px;
	animation-delay: 420ms;
		-o-animation-delay: 420ms;
		-ms-animation-delay: 420ms;
		-webkit-animation-delay: 420ms;
		-moz-animation-delay: 420ms;
	z-index: -7;
	border: 1px solid rgba(212, 255, 0, 0.7);
}
.cssload-circle:nth-child(8) {
	margin: 0 156px;
	width: 48px;
	height: 48px;
	animation-delay: 480ms;
		-o-animation-delay: 480ms;
		-ms-animation-delay: 480ms;
		-webkit-animation-delay: 480ms;
		-moz-animation-delay: 480ms;
	z-index: -8;
	border: 1px solid rgba(255,213,0,0);
}
.cssload-circle:nth-child(9) {
	margin: 0 153px;
	width: 54px;
	height: 54px;
	animation-delay: 540ms;
		-o-animation-delay: 540ms;
		-ms-animation-delay: 540ms;
		-webkit-animation-delay: 540ms;
		-moz-animation-delay: 540ms;
	z-index: -9;
	border: 1px solid rgba(128, 255, 0, 0.7);
}
.cssload-circle:nth-child(10) {
	margin: 0 150px;
	width: 60px;
	height: 60px;
	animation-delay: 600ms;
		-o-animation-delay: 600ms;
		-ms-animation-delay: 600ms;
		-webkit-animation-delay: 600ms;
		-moz-animation-delay: 600ms;
	z-index: -10;
	border: 1px solid rgba(255,255,0,0);
}
.cssload-circle:nth-child(11) {
	margin: 0 147px;
	width: 66px;
	height: 66px;
	animation-delay: 660ms;
		-o-animation-delay: 660ms;
		-ms-animation-delay: 660ms;
		-webkit-animation-delay: 660ms;
		-moz-animation-delay: 660ms;
	z-index: -11;
	border: 1px solid rgba(43, 255, 0, 0.7);
}
.cssload-circle:nth-child(12) {
	margin: 0 144px;
	width: 72px;
	height: 72px;
	animation-delay: 720ms;
		-o-animation-delay: 720ms;
		-ms-animation-delay: 720ms;
		-webkit-animation-delay: 720ms;
		-moz-animation-delay: 720ms;
	z-index: -12;
	border: 1px solid rgba(212,255,0,0)
}
.cssload-circle:nth-child(13) {
	margin: 0 141px;
	width: 78px;
	height: 78px;
	animation-delay: 780ms;
		-o-animation-delay: 780ms;
		-ms-animation-delay: 780ms;
		-webkit-animation-delay: 780ms;
		-moz-animation-delay: 780ms;
	z-index: -13;
	border: 1px solid rgba(0, 255, 43, 0.7);
}
.cssload-circle:nth-child(14) {
	margin: 0 138px;
	width: 84px;
	height: 84px;
	animation-delay: 840ms;
		-o-animation-delay: 840ms;
		-ms-animation-delay: 840ms;
		-webkit-animation-delay: 840ms;
		-moz-animation-delay: 840ms;
	z-index: -14;
	border: 1px solid rgba(170,255,0,0)
}
.cssload-circle:nth-child(15) {
	margin: 0 135px;
	width: 90px;
	height: 90px;
	animation-delay: 900ms;
		-o-animation-delay: 900ms;
		-ms-animation-delay: 900ms;
		-webkit-animation-delay: 900ms;
		-moz-animation-delay: 900ms;
	z-index: -15;
	border: 1px solid rgba(0, 255, 128, 0.7);
}
.cssload-circle:nth-child(16) {
	margin: 0 132px;
	width: 96px;
	height: 96px;
	animation-delay: 960ms;
		-o-animation-delay: 960ms;
		-ms-animation-delay: 960ms;
		-webkit-animation-delay: 960ms;
		-moz-animation-delay: 960ms;
	z-index: -16;
	border: 1px solid rgba(128,255,0,0);
}
.cssload-circle:nth-child(17) {
	margin: 0 129px;
	width: 102px;
	height: 102px;
	animation-delay: 1020ms;
		-o-animation-delay: 1020ms;
		-ms-animation-delay: 1020ms;
		-webkit-animation-delay: 1020ms;
		-moz-animation-delay: 1020ms;
	z-index: -17;
	border: 1px solid rgba(0, 255, 213, 0.7);
}
.cssload-circle:nth-child(18) {
	margin: 0 126px;
	width: 108px;
	height: 108px;
	animation-delay: 1080ms;
		-o-animation-delay: 1080ms;
		-ms-animation-delay: 1080ms;
		-webkit-animation-delay: 1080ms;
		-moz-animation-delay: 1080ms;
	z-index: -18;
	border: 1px solid rgba(85,255,0,0);
}
.cssload-circle:nth-child(19) {
	margin: 0 123px;
	width: 114px;
	height: 114px;
	animation-delay: 1140ms;
		-o-animation-delay: 1140ms;
		-ms-animation-delay: 1140ms;
		-webkit-animation-delay: 1140ms;
		-moz-animation-delay: 1140ms;
	z-index: -19;
	border: 1px solid rgba(0, 212, 255, 0.7);
}
.cssload-circle:nth-child(20) {
	margin: 0 120px;
	width: 120px;
	height: 120px;
	animation-delay: 1200ms;
		-o-animation-delay: 1200ms;
		-ms-animation-delay: 1200ms;
		-webkit-animation-delay: 1200ms;
		-moz-animation-delay: 1200ms;
	z-index: -20;
	border: 1px solid rgba(43,255,0,0);
}
.cssload-circle:nth-child(21) {
	margin: 0 117px;
	width: 126px;
	height: 126px;
	animation-delay: 1260ms;
		-o-animation-delay: 1260ms;
		-ms-animation-delay: 1260ms;
		-webkit-animation-delay: 1260ms;
		-moz-animation-delay: 1260ms;
	z-index: -21;
	border: 1px solid rgba(0, 127, 255, 0.7);
}
.cssload-circle:nth-child(22) {
	margin: 0 114px;
	width: 132px;
	height: 132px;
	animation-delay: 1320ms;
		-o-animation-delay: 1320ms;
		-ms-animation-delay: 1320ms;
		-webkit-animation-delay: 1320ms;
		-moz-animation-delay: 1320ms;
	z-index: -22;
	border: 1px solid rgba(0,255,0,0);
}
.cssload-circle:nth-child(23) {
	margin: 0 111px;
	width: 138px;
	height: 138px;
	animation-delay: 1380ms;
		-o-animation-delay: 1380ms;
		-ms-animation-delay: 1380ms;
		-webkit-animation-delay: 1380ms;
		-moz-animation-delay: 1380ms;
	z-index: -23;
	border: 1px solid rgba(0, 43, 255, 0.7);
}
.cssload-circle:nth-child(24) {
	margin: 0 108px;
	width: 144px;
	height: 144px;
	animation-delay: 1440ms;
		-o-animation-delay: 1440ms;
		-ms-animation-delay: 1440ms;
		-webkit-animation-delay: 1440ms;
		-moz-animation-delay: 1440ms;
	z-index: -24;
	border: 1px solid rgba(0,255,43,0)
}
.cssload-circle:nth-child(25) {
	margin: 0 105px;
	width: 150px;
	height: 150px;
	animation-delay: 1500ms;
		-o-animation-delay: 1500ms;
		-ms-animation-delay: 1500ms;
		-webkit-animation-delay: 1500ms;
		-moz-animation-delay: 1500ms;
	z-index: -25;
	border: 1px solid rgba(42, 0, 255, 0.7);
}
.cssload-circle:nth-child(26) {
	margin: 0 102px;
	width: 156px;
	height: 156px;
	animation-delay: 1560ms;
		-o-animation-delay: 1560ms;
		-ms-animation-delay: 1560ms;
		-webkit-animation-delay: 1560ms;
		-moz-animation-delay: 1560ms;
	z-index: -26;
	border: 1px solid rgba(0,255,85,0);
}
.cssload-circle:nth-child(27) {
	margin: 0 99px;
	width: 162px;
	height: 162px;
	animation-delay: 1620ms;
		-o-animation-delay: 1620ms;
		-ms-animation-delay: 1620ms;
		-webkit-animation-delay: 1620ms;
		-moz-animation-delay: 1620ms;
	z-index: -27;
	border: 1px solid rgba(127, 0, 255, 0.7);
}
.cssload-circle:nth-child(28) {
	margin: 0 96px;
	width: 168px;
	height: 168px;
	animation-delay: 1680ms;
		-o-animation-delay: 1680ms;
		-ms-animation-delay: 1680ms;
		-webkit-animation-delay: 1680ms;
		-moz-animation-delay: 1680ms;
	z-index: -28;
	border: 1px solid rgba(0,255,128,0);
}
.cssload-circle:nth-child(29) {
	margin: 0 93px;
	width: 174px;
	height: 174px;
	animation-delay: 1740ms;
		-o-animation-delay: 1740ms;
		-ms-animation-delay: 1740ms;
		-webkit-animation-delay: 1740ms;
		-moz-animation-delay: 1740ms;
	z-index: -29;
	border: 1px solid rgba(212, 0, 255, 0.7);
}
.cssload-circle:nth-child(30) {
	margin: 0 90px;
	width: 180px;
	height: 180px;
	animation-delay: 1800ms;
		-o-animation-delay: 1800ms;
		-ms-animation-delay: 1800ms;
		-webkit-animation-delay: 1800ms;
		-moz-animation-delay: 1800ms;
	z-index: -30;
	border: 1px solid rgba(0,255,170,0);
}


@keyframes bounce {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(60px);
	}
}

@-o-keyframes bounce {
	0% {
		-o-transform: translateY(0px);
	}
	100% {
		-o-transform: translateY(60px);
	}
}

@-ms-keyframes bounce {
	0% {
		-ms-transform: translateY(0px);
	}
	100% {
		-ms-transform: translateY(60px);
	}
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(0px);
	}
	100% {
		-webkit-transform: translateY(60px);
	}
}

@-moz-keyframes bounce {
	0% {
		-moz-transform: translateY(0px);
	}
	100% {
		-moz-transform: translateY(60px);
	}
}
