.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
  opacity: 0.9;
}

.nav-top {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: black;
 background-color: white;
 height: 40px;
 padding: 10px 15px;
 font-family: 'Barlow Semi Condensed';
 margin: 0;
 border: 0;
 border-bottom: 1px solid lightgray;
}

.nav-photosphere {
  color: black;
   margin-right: 12px;
   font-size: 14px;
   letter-spacing: 0.5px;
   opacity: 0.6;
   text-transform: uppercase;
   padding: 2px 11px;

   a:hover {
    color: #a3a4a3;
    cursor: default;
   }
}

.nav-top-right {
   float: right;
   display: flex;
   justify-content: space-around;

  a {
   color: black;
   margin-right: 12px;
   font-size: 14px;
   letter-spacing: 0.5px;
   opacity: 0.6;
   text-transform: uppercase;
   // padding: 1px 8px;
   padding: 5px;
   font-family: 'Barlow Semi Condensed';
   // color: gray;
   // font-size: 17px;
   z-index: 9999;
  }

  a:hover {
   color: #a3a4a3;
   cursor: default;
  }
}

.navbar-user {
  display: flex;
  flex-direction: row;
}

.navbar-photo {
  width: 50px;
  border-radius: 50%;
  display: block;
  -webkit-box-flex: 0;
  flex: none;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

  img {
    height: 100%;
    width: 100%;
  }

  a {
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
  }
}
