.nav-top {
 display: flex;
 justify-content: space-between;
 align-items: center;
 border: black;
 background-color: gray;
 height: 40px;
 padding: 10px 15px;
 font-family: 'Barlow Semi Condensed';
 margin: 0;
 border: 0;
}

.nav-photosphere {
  color: white;
   margin-right: 12px;
   font-size: 14px;
   letter-spacing: 1px;
   opacity: 0.6;
   text-transform: uppercase;
   padding: 2px 11px;

   a:hover {
    color: #a3a4a3;
    cursor: default;
   }
}

.nav-top-right {
   float: right;
   display: flex;
   justify-content: space-around;

  a {
   color: white;
   margin-right: 12px;
   font-size: 14px;
   letter-spacing: 1px;
   opacity: 0.6;
   text-transform: uppercase;
   padding: 1px 8px;
  }

  a:hover {
   color: #a3a4a3;
   cursor: default;
  }
}
