.index-photo-display {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 30px;
  margin-top: 80px;
}

.index-sub-display {
  position: relative;
  column-count: 1;
  column-gap: 1em;
  width: 100%;
  margin-top: 25px;
}

@media only screen and (min-width: 600px) {
  .index-sub-display {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

@media only screen and (min-width: 1000px) {
  .index-sub-display {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

@media only screen and (min-width: 1500px) {
  .index-sub-display {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}

.tile {
	// margin: 6px;
  // display: flex;
  // float: left;
  flex-direction: column;
  img:hover {
    // opacity: 0.9;
    cursor: pointer;
  }

	img {
		box-shadow: 0 1px 1px 2px rgba(0,0,0, .15);
		border-radius: 2px;
  }

	// 	width: 300px;
  //   margin-left: none;
  display: inline-block;
  // margin: 0 0 1em;
  margin-bottom: 12px;
  width: 100%;
}

.tile:hover {
  opacity: 0.9;

  .username {
    visibility: visible;
  }
  .photo-index-user {
    visibility: visible;
  }
}

.photo-array {
  display: inline-block;
}

.username-display {
  display: flex;
  flex-direction: row;
  font-family: 'Barlow Semi Condensed';
  padding: 5px;
  visibility: hidden;
  position: absolute;

  .username {
    font-size: 15px;
    color: white;
    text-transform: lowercase;
  }
}

.username-display:hover {
  opacity: 0.6;
  cursor: pointer;
}

.tag-options {
  margin-bottom: 10px;
}

.tag-options a {
  padding: 5px;
  font-family: 'Barlow Semi Condensed';
  color: gray;
  font-size: 17px;
}
.tag-options a:hover {
  opacity: 0.6;
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.no-underline {

}

.user-activity {
  font-family: 'Barlow Semi Condensed';
  color: gray;
}

.photo-index-user {
  width: 35px;
  display: block;
  -webkit-box-flex: 0;
  flex: none;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  padding-left: 5px;
  padding-top: 5px;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    vertical-align: baseline;
  }

  a {
    width: 30px;
    height: 30px;
    background-color: #fafafa;
    box-sizing: border-box;
    display: block;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
  }
}

.photo-index-username {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px;
}
