.photo-form {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  flex-direction: column;
  align-items: center;
  font-family: 'Barlow Semi Condensed';
  color: gray;
}

.file-upload-box {
  height: 300px;
  width: 500px;
  border: 2px solid gray;
  border-radius: 2px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  cursor: pointer;
}

.photo-form-input-container{

}

.photo-form-input {
  background-color: white;
  border: 1px solid gray;
  width: 500px;
  display: block;
  margin-top: 20px;
  border-radius: 2px;
}

.create-photo-button {
  margin: 10px 0px;
  padding: 6px 0;
  width: 200px;
  background-color: gray;
  color: white;
  font-size: 16px;
  text-align: center;
}

.uploaded-photo {
  object-fit: cover;
  object-position: center;
  // width: auto;
  max-width: 500px;
  max-height: 500px;
  // height: 400px;
  // width: 600px;
}
