.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  font-family: 'Barlow Semi Condensed';
}

.session-form-container h2 {
  padding-top: 30px;
  font-size: 30px;
}
.session-form-container a {
  cursor: default;
  font-weight: bold;
  font-size: 15px;

  b {
    text-decoration: underline;
  }
}

.session-form-container b:hover {
  color: #a3a4a3;
}

.form {
  padding: 10px;
  text-align: center;
}

.form {
  input {
    margin-top: 18px;
    border: 1px solid gray;
    text-align: center;
    font-size: 15px;
    padding: 10px 30px 10px 30px;
  }

  input::-webkit-input-placeholder {
    color: #B9B9B9;
    text-align: center;
  }

  input[type="submit"] {
    background-color: gray;
    font-size: 15px;
    margin-top: 35px;
    border-radius: 5px;
    padding: 6px 16px 6px 16px;
    color: white;
  }

  input[type="submit"]:hover {
    background-color: #a3a4a3;
  }
}

.error-list {
  list-style-type: none;
}
