.tag-item {
  padding: 3px, 3px, 3px, 3px;
  background-color: gray;
  color: white;
  margin-right: 8px;
  border-radius: 5px;
  padding: 0px 6px 0px 6px;
  padding-bottom: 5px;
  margin-bottom: 5px;

  a {
    font-family: 'Barlow Semi Condensed';
    font-weight: lighter;
    font-size: 14px;
  }
}

.tag-div {
  display: flex;
  flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
  // width: 80%;
  // font-size: 15px;
  margin-left: 5px;
}

.tags-title-div {
  padding: 5px, 5px, 5px, 5px;
  font-family: 'Barlow Semi Condensed';
  margin: 6px;
}
