/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 html {
  background: url("http://res.cloudinary.com/dn7nwtnr4/image/upload/v1511416555/Photo_Nov_21_8_57_54_PM_uxohsf.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }

:focus {
  outline: none;
}

 .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   padding: 10px;
   width: 300px;
   height: 367px;
   border-radius: 7px;
   // opacity: .9;
 }

 .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0.3, 0.3, 0.3, 0.3);
}

.splash-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 10px 15px;
}

.splash-photosphere {
    opacity: .5;
    color: white;
    // letter-spacing: 1px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1px 12px;
    font-family: 'Raleway Dots';
}

.splash-top-right {
  float: right;
  display: flex;
  justify-content: space-around;

  a {
    opacity: .5;
    color: white;
    letter-spacing: 1px;
    margin-right: 10px;
    font-size: 14px;
    text-transform: uppercase;
    padding: 1px 8px;
    font-family: 'Raleway Dots';
  }

  a:hover {
    color: #a3a4a3;
    cursor: default;
  }
}

.demo-div {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: .7;


  h1 {
    font-size: 40px;
    letter-spacing: 2px;
    font-family: 'Raleway Dots'
  }

  button {
    background-color: white;
    opacity: .8;
    color: gray;
    font-size: 18px;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
  }

  button:hover {
    color: #a3a4a3;
  }
}
