html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {

  font-family: 'Barlow Semi Condensed';
  margin: 0;
  border: 0;
}
